<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manwin.cookie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.manwin.cookie.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.manwin.cookie.SceneActivity"
            android:exported="false"
            android:launchMode="singleTask" >
        </activity>

        <service android:name="com.manwin.cookie.RefreshService" >
        </service>

        <provider
            android:name="com.manwin.cookie.SceneProvider"
            android:authorities="com.manwin.cookie.provider.scene"
            android:exported="false" >
        </provider>

        <receiver
            android:name="com.manwin.cookie.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.manwin.cookie.NEW_SCENES" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.manwin.cookie.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.manwin.cookie.SceneWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.manwin.cookie.NEW_SCENES" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scene_widget" />
        </receiver>
    </application>

</manifest>